body {
  position: relative;
  min-width: 64rem;
  max-width: 250rem;
  margin: 0 auto;


  &.guest {

    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    text-align: center;
    transform: translate(-50%, -50% );

  }
}

a {
  font-weight: bold;
  text-decoration: none;
}