ul.album-list {
    list-style: none;

    li.album {
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 2px solid #1d201f;

        &.final-album {
            border-bottom: none;
        }

        ul.track-list {
            list-style: none;
            font-weight: bold;
            color: initial;
        }

        li.track {
            padding-left: 3rem;
            font-weight: normal;
        }
    }
}