table {
    border-collapse: collapse;
}

table {
    margin: auto;
    width: 100%;

    th, td {
        padding: 1rem 2rem;
        border: 1px solid gray;
    }

    th {
        color: $color-primary;
        background-color: $color-primary-dark-2;
    }

    td {
        color: $text-color;
        background-color: $neutral-color;
    }
}
