table {
    border-collapse: collapse;
}

table {
    margin: auto;
    width: 100%;

    transition: .1s .1s opacity ease-in;

    &.loading {
        opacity: 20%;
    }

    th, td {
        padding: 1rem 2rem;
        border: 1px solid gray;
    }

    th {
        color: $text-color;
        background-color: $color-primary;
    }

    td {
        color: $text-color;
        background-color: $neutral-color;
        font-size: 75%;
    }

    tfoot {
        text-align: right;
    }
}
