/* SCSS HEX */
$color-primary: #df928eff;
$color-primary-dark-1: darken($color-primary, 15%);
$color-primary-dark-2: darken($color-primary, 50%);
$color-primary-light-1: lighten($color-primary, 15%);
$color-primary-light-2: lighten($color-primary, 50%);

$color-secondary: #c58882ff;
$color-secondary-dark-1:   darken($color-secondary, 15%);
$color-secondary-dark-2:   darken($color-secondary, 50%);
$color-secondary-light-1: lighten($color-secondary, 15%);
$color-secondary-light-2: lighten($color-secondary, 50%);

$neutral-color: #ead2acff;
$pale-color: #d1dedeff;
$text-color: #1d201fff;
