/* SCSS HEX */
$neutral-color: #e5deda;

$color-primary: #daa7a4;
$color-primary-dark-1: darken($color-primary, 15%);
$color-primary-dark-2: darken($color-primary, 50%);
$color-primary-light-1: lighten($color-primary, 15%);
$color-primary-light-2: lighten($color-primary, 50%);

$color-action: #45a80d;
$color-action-dark-1:   darken($color-action, 15%);
$color-action-dark-2:   darken($color-action, 50%);
$color-action-light-1: lighten($color-action, 15%);
$color-action-light-2: lighten($color-action, 50%);

$pale-color: #d1dedeff;
$text-color: #1d201fff;
